*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.main-wrapper{
    background-color: #000;
    padding: 17px 0;
}
.logo{
    width:80px;
}
.container{
    width: 1200px;
    margin: auto;
}
.main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar{
    display: flex;
    align-items: center;
}
.main-header .navbar ul{
    padding-left: 100px;
}
.main-header .navbar ul li{
    display: inline;
    padding: 20px;
}
.main-header .navbar ul li a{
    color: #fff;
    text-decoration: none;
}

.main-header .navbar ul li:hover .sub-nav {
    display: block;
}
.main-header .navbar ul li .sub-nav{
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
    padding-top: 25px;
}

.main-header .navbar ul{
    position: relative;
}
.main-header .navbar ul:before {
    content: '';
    border-left: 1px solid white;
    position: absolute;
    left: 65px;
    height: 30px;
    top: -5px;
}
.section-wrapper{
    background-image: url('./bg.png');
    padding: 250px 0;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

h1,p{
    color: #fff;
}

h1{
    font-size: 70px;
}
p{
    font-size: 20px;
    margin-bottom: 20px;
}
.content{
    width: 700px;
    margin: auto;
    text-align: center;
}
.btn-primary{
    padding: 13px 20px;
    font-size: 20px;
    background-color: #f960d6f2;
    border: 0;
    border-radius: 6px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    line-height: 20px;
}
button.btn-primary.top-btn{
    padding: 5px 20px;
    font-size: 14px;
}